#heading, p, #textOnly {
    font-weight: bold;
    text-align: center;
    color: gold;
    background: url("../images/headerBG.jpg");
    opacity: 0.8;
}

.jumbotron {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 0%;
}

.btn, input {
    margin: 5px;
    background-color: rgb(255,215,0,0.75);
    color: rgb(128,0,128);
    font-weight: bold;
    font-size: 11px;
}

#playerInput{
    width: 95%;
    text-align: center;
}

.btn:hover {
    background-color: rgb(128,0,128,0.5);
    color: rgb(255,215,0);
    font-weight: bold;
}

.container {
    display: block;
    width: 95%;
    margin-left: auto; 
    margin-right: auto;
    text-align: left;
}

.formContainer {
    display: block;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.gifContainer {
    width: 95%;
    align-content: left;
}

#playersGifs {
   width: 40%;
}

#background {
    width: 120%;
    height: 120%;
    z-index: -1;
    position: absolute;
    left: 0%;
    top: -5%;
}

#left {
    width: 70%;
}

#right {
    margin-left: 0%;
    width: 20%;
}

.nbaPlayers {
    float: left;
    margin: 5px;
}

#playersGifs{
    display: block;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}
